<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
    
      <ion-card-content>
          <img *ngIf="user.image" src="{{ url + 'users/image/'+user.image }}" class="rounded-circle"
          width="200" height="200">
      <img src="./assets/450_1000.jpg" class="rounded-circle" width="200" height="200" *ngIf="!user.image">

        <br/>
        
        <div class="input-group-prepend" style="border:solid black 0.5px; border-radius: 2px">
            <span class="input-group-text" id="inputGroupFileAddon01" style="color: black;text-align: center; font-size: 25px;font-family: 'Times New Roman', Times, serif">Subir foto</span>
        
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01" (change)="fileChangeEvent($event)">
        </div>
      </div>
        <br/>
  
        
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" shape="round" clearInput
          placeholder="Ingrese su nombre" required="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">LastName</ion-label>
            <ion-input type="text" [(ngModel)]="user.lastName" name="lasName" shape="round" clearInput
            placeholder="Ingrese su apellido" required="true"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="user.username" name="usrname" shape="round" clearInput
          placeholder="Ingrese su username" required="true"></ion-input>
        </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" name="mail" shape="round" clearInput
            placeholder="Ingrese su email" required="true"></ion-input>
          </ion-item>
          <br/>
          <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="update()">Editar</ion-button>
          <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="cancel()">Cancelar</ion-button>
        
  
      </ion-card-content>
    </ion-card>
  </ion-content>
  